.popup {
    /*text-align: left;*/
    height: auto;
    width: 75%;
    position: fixed;
    left: 11.25%;
    /*margin-left: -100px;*/
    top: 25%;
    margin-top: -100px;
    background-color: white;
    border: 2px black solid;
    padding: 1em;
}